#home {
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?w=2000);
}
#historiadaescola{
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?w=2000);
}
#atividadesextra{
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?w=2000);
}
#redessociais{
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?w=2000);

}